@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* COMPONENTS */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/header-bar.css";
@import "components/search-bar.css";
@import "components/main-screen__user.css";
@import "components/badge.css";
@import "components/no-mobile.css";

/* SCREENS */
@import "screens/login.css";
@import "screens/home.css";
@import "screens/voom.css";
@import "screens/call.css";
@import "screens/setting.css";
@import "screens/chatlive.css";

body {
  font-family: "Kanit", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}
