.section__user-info__photo__sarang {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.section__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 20px;
}

.section__user-info__name {
  font-weight: 600;
}

.section__user-info__status {
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.3;
}
