.login-body .status-bar {
  background-color: white;
  color: black;
}

.login-body {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.login-header {
  margin: 0px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: var(--green);
  font-weight: bolder;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  margin-bottom: 20px;
}

.login-form input {
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

.login-form input:nth-child(1) {
  border-radius: 5px 5px 0px 0px;
}

.login-form input:nth-child(2) {
  border-radius: 0px 0px 5px 5px;
}

.login-form input:last-child {
  margin-top: 15px;
  border-radius: 5px;
  color: rgba(252, 248, 248, 0.945);
  border-width: 0px;
  background-color: #cacaca;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.login-option {
  display: flex;
  margin: 0 30px;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.login-form input:focus {
  border-color: var(--green);
}

.login-option input[type="checkbox"] {
  background-color: var(--green);
  color: var(--green);
}
