.section__user-info__photo {
  position: relative;
}

.section__deco {
  width: 20px;
  height: 20px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: -3px;
  border: 2px solid black;
}

.section__user-info__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__mine {
  font-size: 11px;
  margin-top: 15px;
}

.main__voom__column-user .main-screen__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__voom__column-user .main-screen__user span {
  font-size: 13px;
  color: white;
  opacity: 1;
}

@keyframes heartAni {
  0% {
    color: tomato;
    transform: none;
  }
  50% {
    color: white;
    transform: scale(1.5);
  }
  100% {
    color: tomato;
    transform: none;
  }
}

.main__voom__column-tag__icon:hover i {
  will-change: transform;
  animation: heartAni 1s linear infinite;
}
