.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 20px;
  margin-top: 30px;
}

.header__title {
  font-size: 25px;
  font-weight: 600;
}

.header__icons span {
  margin-left: 15px;
}

.header__icons__notice {
  position: relative;
}

.header__notification__notice {
  color: var(--green);
  font-size: 40px;
  position: absolute;
  left: 1px;
  bottom: 15px;
}

.header__photo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.header__icons__photo {
  position: relative;
}

.header__notification__photo {
  color: var(--green);
  font-size: 40px;
  position: absolute;
  left: 10px;
  bottom: 22px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }

  to {
    transform: rotate(360deg);
  }
}

.header__icons__setting .fa-gear:hover {
  animation: rotateCog 2s linear infinite;
}
