.main-screen__user {
  margin: 10px 20px;
}

.main-screen__user__column {
  display: flex;
  margin-bottom: 15px;
}

.main-screen__user__content {
  margin-left: 15px;
}

.main-screen__user__content h5 {
  font-size: 10px;
}

.main-screen__user__content span {
  font-size: 10px;
  opacity: 0.5;
}
